
<!-- <form>
    <label for="username">Username:</label><br>
    <input type="text" id="username" name="username"><br><br>
    <label for="password">Password:</label><br>
    <input type="password" id="password" name="password"><br><br>
  </form>
<button (click)="onLoginClick()">Login</button> -->

<div class="container">
  <h3>{{ messageLogin }}</h3>
  <form>
    <div class="form-group">
      <label for="username">Username:</label>
      <input type="text" class="form-control" id="username" name="username">
    </div>
    <div class="form-group">
      <label for="password">Password:</label>
      <input type="password" class="form-control" id="password" name="password">
    </div>
    <button (click)="onLoginClick()" type="submit" class="btn btn-primary">Login</button>
  </form>
</div>
