<div class="container">
    <h1>Welcome!</h1><br>
</div>

<app-login-form
    [messageLogin]="'Parent says... why don´t you try do login?'"
    (loginAttempt)="onLoginAttempt($event)"></app-login-form>


<app-register-form
    [messageRegister]="'Parent says... please register!'"
    (registerAttempt)="onRegisterAttempt($event)"></app-register-form>


<router-outlet></router-outlet>