
<!-- <form>
    <label for="username">Username:</label><br>
    <input type="text" id="username" name="username"><br><br>
    <label for="password">Password:</label><br>
    <input type="password" id="password" name="password"><br><br>
    <label for="cpassword">Confirm Password:</label><br>
    <input type="password" id="cpassword" name="cpassword"><br><br>

  </form>
<button (click)="onRegisterClick()">Register</button> -->

<div class="container">
  <h3>{{ messageRegister }}</h3>
  <form>
    <div class="form-group">
      <label for="username">Username:</label>
      <input type="text" class="form-control" id="username" name="username">
    </div>
    <div class="form-group">
      <label for="password">Password:</label>
      <input type="password" class="form-control" id="password" name="password">
    </div>
    <div class="form-group">
      <label for="cpassword">Confirm password:</label>
      <input type="password" class="form-control" id="cpassword" name="cpassword">
    </div>
    <button (click)="onRegisterClick()" type="submit" class="btn btn-primary">Register</button>
  </form>
</div>
